<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>about</title>
    <link rel='icon' href='/image/weather.png'>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <img src="/image/DC.jpeg" class="portrait">
   
    </div>
    
     {{>footer}}
</body>
</html>