<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>404</title>
        <link rel='icon' href='/image/weather.png'>
    </head>

    <body>
        <div class='main-content'>
            {{>header}}

        <h1>Error Loading Page</h1>
        <p>{{Message}}</p>


        </div>
        
        {{>footer}}
    </body>
</html>